:root {
  --PrimaryColor: hsl(199, 100%, 33%);
  --SecondaryColor: hsl(187, 85%, 43%);
  --gradientColor: linear-gradient(
    to right,
    hsl(187, 85%, 43%),
    hsl(199, 100%, 33%)
  );
  --whiteColor: hsl(0, 0%, 100%);
  --blackColor: hsl(201, 33%, 16%);
  --textColor: hsl(240, 4%, 36%);
  --whiteColorDeam: hsl (0, 0%, 93%);
  --greyText: rgb(190, 190, 190);
  --inputColor: rgb(239, 239, 239);
  --bodyColor: rgb(240, 240, 246);
  --cardBG: rgb(225, 225, 235);
  --cardHover: rgb(255, 255, 255);
}

.main {
  width: 100%;
}
.main .secTitle .title {
  position: relative;
  width: -moz-max-content;
  width: max-content;
  color: var(--textColor);
  margin: 1rem 0;
}
.main .secTitle .title::after {
  position: absolute;
  content: "";
  background-color: var(--SecondaryColor);
  height: 5px;
  width: 120px;
  right: 0;
  bottom: 5px;
  z-index: -1;
}
.main .secContent {
  justify-content: center;
  gap: 1.5rem;
}
.main .secContent .singleDestination {
  height: 100%;
  display: grid;
  row-gap: 10px;
  margin-top: 20px;
  border-radius: 10px;
  align-items: center;
  background: var(--cardBG);
  box-shadow: 0 2px 4px rgba(140, 140, 141, 0.549);
  overflow: hidden;
}
.main .secContent .singleDestination:hover {
  background: var(--cardHover);
  box-shadow: 1 4px 4px rgba(85, 85, 114, 0.549);
  transition: 0.3s ease;
}
.main .secContent .singleDestination .imageDiv {
  height: 180px;
  width: 100%;
  overflow: hidden;
}
.main .secContent .singleDestination .imageDiv img {
  height: 100%;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  transition: 0.2s ease;
}
.main .secContent .singleDestination .imageDiv:hover img {
  transform: scale(1.1);
}
.main .secContent .singleDestination .cardInfo {
  padding: 1rem;
}
.main .secContent .singleDestination .cardInfo .destTitle {
  color: var(--blackColor);
  font-size: 1.25rem;
}
.main .secContent .singleDestination .cardInfo .continent {
  gap: 0.5rem;
}
.main .secContent .singleDestination .cardInfo .continent .icon {
  color: var(--textColor);
  font-size: 18px;
}
.main .secContent .singleDestination .cardInfo .continent .name {
  color: var(--textColor);
  font-weight: 400;
  font-size: 14px;
}
.main .secContent .singleDestination .cardInfo .fees {
  width: 100%;
  justify-content: space-between;
  padding: 1rem;
  margin: 1rem 0;
  border-top: 1.5px solid var(--greyText);
  border-bottom: 1.5px solid var(--greyText);
}
.main .secContent .singleDestination .cardInfo .fees .grade {
  color: var(--textColor);
  max-width: 100px;
  line-height: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.main .secContent .singleDestination .cardInfo .fees .grade small {
  text-align: center;
  background: var(--gradientColor);
  border-radius: 1rem;
  color: var(--whiteColor);
  padding: 1px 10px;
  font-size: 10px;
}
.main .secContent .singleDestination .cardInfo .fees .price {
  font-size: 2rem;
  color: var(--blackColor);
}
.main .secContent .singleDestination .cardInfo .desc {
  font-size: 13.5px;
  color: var(--textColor);
  font-weight: 500;
}
.main .secContent .singleDestination .cardInfo .btn {
  margin-top: 1rem;
  color: var(--whiteColor);
  font-weight: 600;
  justify-content: space-between;
  gap: 0.5rem;
}
.main .secContent .singleDestination .cardInfo .btn .icon {
  align-self: center;
  font-size: 18px;
}

@media screen and (min-width: 500px) {
  .title {
    font-size: 1.5rem;
  }
  .title::after {
    width: 155px !important;
  }
  .secContent {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
  .secContent .singleDestination {
    height: auto;
  }
}
@media screen and (min-width: 840px) {
  .secContent {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
  .secContent .singleDestination {
    height: auto;
  }
}
.main2 {
  height: 100%;
  margin: 0;
  padding: 0;
  padding-top: 3%;
  z-index: 1;
}
.main2 .singleDestination2 {
  z-index: 22222;
  height: 80%;
  width: 95%;
  margin: auto;
  border-radius: 10px;
  border: solid rgb(99, 92, 92) 1px;
  background: var(--cardBG);
  box-shadow: 0 2px 4px rgba(140, 140, 141, 0.549);
  overflow: hidden;
}
.main2 .singleDestination2 .imageDiv2 {
  width: 50%;
  overflow: hidden;
}
.main2 .singleDestination2 .imageDiv2 img {
  width: 90%;
  aspect-ratio: 2;
  display: -webkit-box;
  margin-left: auto;
  border-radius: 10px;
  transition: 0.2s ease;
}
.main2 .singleDestination2 .cardInfo2 {
  padding: 1rem;
}
.main2 .singleDestination2 .cardInfo2 .price2 {
  width: 100%;
  display: flex;
  justify-content: end;
  color: var(--textColor);
}
.main2 .singleDestination2 .cardInfo2 .price2 h5 {
  width: 15%;
}
.main2 .singleDestination2 .cardInfo2 .destTitle2 {
  color: var(--blackColor);
  font-size: 1.5rem;
}
.main2 .singleDestination2 .cardInfo2 .continent2 {
  gap: 0.7rem;
}
.main2 .singleDestination2 .cardInfo2 .continent2 .icon {
  color: var(--textColor);
  font-size: 18px;
}
.main2 .singleDestination2 .cardInfo2 .continent2 .name {
  color: var(--textColor);
  font-weight: 400;
  font-size: 14px;
}
.main2 .singleDestination2 .cardInfo2 .fees2 {
  width: 100%;
  justify-content: space-between;
  padding: 1rem;
  margin: 1rem 0;
  border-top: 1.5px solid var(--greyText);
  border-bottom: 1.5px solid var(--greyText);
}
.main2 .singleDestination2 .cardInfo2 .fees2 .grade2 {
  max-width: 45%;
  color: var(--textColor);
  display: flex;
  align-items: center;
  justify-content: center;
}
.main2 .singleDestination2 .cardInfo2 .desc2 {
  font-size: 0.9rem;
  color: var(--textColor);
  font-weight: 500;
}
.main2 .singleDestination2 .cardInfo2 .btn {
  position: absolute;
  bottom: 5%;
  right: 5%;
  padding: 0.7rem 3rem 0.7rem 3rem;
  color: var(--whiteColor);
  font-weight: 600;
  gap: 0.5rem;
}
.main2 .singleDestination2 .cardInfo2 .btn:hover {
  color: black;
  background: rgba(22, 148, 85, 0.26);
  box-shadow: 0 4px 4px rgba(51, 51, 75, 0.6);
  transition: 0.3s ease;
}
.main2 .singleDestination2 .cardInfo2 .icon {
  align-self: center;
  font-size: 18px;
}

.dateRange {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}

.dateRange h3 {
  max-width: 1.9rem;
  margin-right: 1rem;
}

.backdrop {
  z-index: -1;
}

.spinnerdestination {
  position: relative;
  right: 0;
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
}

.dateRange input {
  background-color: transparent;
  background-color: rgba(128, 128, 128, 0.555);
  border: none;
  border-radius: 1rem;
  text-align: center;
  color: rgb(26, 24, 24);
}

.section3cars {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 1fr auto;
  gap: 1.2rem;
  padding-top: 2%;
  /* hide all .namecarh4 elements by default */
  /* show the corresponding .namecarh4 element when the corresponding img element is hovered over */
}
.section3cars img {
  -o-object-fit: contain;
     object-fit: contain;
  mix-blend-mode: darken;
  grid-row: 2/3; /* place img in second row */
}
.section3cars img:hover {
  transform: scale(1.5);
}
.section3cars .idcardiv {
  display: none;
}
.section3cars .pricecardiv {
  display: none;
}
.section3cars .namecarh4 {
  position: absolute;
  white-space: nowrap;
  visibility: hidden;
  opacity: 0;
  transition: opacity 0.5s ease;
  grid-row: 1/2; /* place nameCard in first row */
  margin: auto;
  background-color: white;
  border: 1px solid grey;
  border-radius: 5px;
  color: var(--textColor);
  padding: 0 0.5rem 0 0.5rem;
  text-align: center;
}
.section3cars .namecarh4::before {
  content: "";
  position: absolute;
  transform: translateX(-50%);
}
.section3cars img:hover + .namecardiv .namecarh4 {
  visibility: visible;
  opacity: 1;
}

.namecardiv {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  z-index: 2222;
}/*# sourceMappingURL=main.css.map */